.logo{
	width: 100%;  
}
ul{
	margin-left: 5%;
}
.menu{
	display: table-cell;
}
a{
	list-style: none;
	color: black;
	font-size: 3rem;
	font-weight: 100;
	text-decoration: none;
	padding: 5px;
}
.grupal{
	padding-top: 3%;
}
.gris{
	width: 68px;
	color:#908F8F;
	margin-left: 41%;
}
.parrafo1{
	font-size: 22px;
	text-align: center;
	padding: 5%;
}
.cc{
	margin-left: 29%;
	padding: 2%;
}
h1{
	font-size: 0.7em;
}
.negra{
	margin-top: -26px;
	margin-bottom: 23px;
	width: 100px;
	height: 5px;
	background-color: black;
}

/****coder-detail***/
.caja{
	padding: 3% 15%;
	margin-top: auto;
	margin-left: 38px;
	border: 1.5px solid #060606;
}
.cir{
	border-radius: 50%;
	margin-left: 38%;
}
.tit2{
	font-size: 3em;
	text-align: center;
}
.parrafodos{
	font-weight: 100;
	font-size: 1.7em;
	text-align: center;
}
h2{
	font-size: 2.3em;
}
.html{
	padding:2%;
	margin-top: auto;
	margin-left: 38px;
	background-color: #919090;
	width: 70%;
	color: #FFFFFF;
}
.css{
	padding:2%;
	margin-top: auto;
	margin-left: 38px;
	background-color: #919090;
	width: 45%;
	color: #FFFFFF;
}
.js{
	padding:2%;
	margin-top: auto;
	margin-left: 38px;
	background-color: #919090;
	width: 22%;
	color: #FFFFFF;
}
.sub{
	width: 200px;
}
.col-4{
	display: inline-block;
	padding-bottom: 3%;
	padding-left: 5%;
}
.boton{
	width: 90px;
    height: 27px;
}
.titboton{
	font-size: 1em;
}
